
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerNatuurgeneeskunde" aria-controls="navbarTogglerNatuurgeneeskunde" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerNatuurgeneeskunde">
    <ul class="navbar-nav m-auto">
      <li class="nav-item" >
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/werkwijze" routerLinkActive="active">Werkwijze</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/tarieven" routerLinkActive="active">Tarieven</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/about" routerLinkActive="active">Over mij</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
</nav>
